<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-3">
    <div class="col-8 offset-2">
        <h2 class="mb-4">Edit Your Listing</h2>

        <form 
            method="POST" 
            action="/listings/<%= data._id %>?_method=PUT" 
            novalidate class="needs-validation"
            enctype="multipart/form-data"
        >

            <div class="form-floating mb-3">
                <input 
                    type="text" 
                    name="listing[title]" 
                    id="title" 
                    placeholder="Enter title" 
                    class="form-control shadow-sm border-2 transition-input" 
                    value="<%= data.title %>" 
                    required>
                <label for="title">Edit the title.</label>
                <div class="valid-feedback">Nice title added</div>
                <div class="invalid-feedback">Please enter a catchy title.</div>
            </div>

            <div class="form-floating mb-3">
                <textarea 
                    name="listing[description]" 
                    id="description" 
                    placeholder="Enter description" 
                    class="form-control shadow-sm border-2 transition-input" 
                    style="height: 100px" 
                    required><%= data.description %></textarea>
                <label for="description">Description</label>
                <div class="invalid-feedback">Please enter a short description.</div>
            </div>
            <div class="mb-3 shadow-sm border-2 originalImg">
                Original Listing Image<br>
                <img src="<%=data.image.url%>" alt="listing_img">
            </div>
            <div class="form-floating mb-3">
                <input 
                    type="file" 
                    name="listing[image]" 
                    id="image" 
                    placeholder="Enter URL" 
                    class="form-control shadow-sm border-2 transition-input" 
                >
                <label for="image" class="p-2">Upload New Image</label>
                <!-- Optional: you can add <div class="invalid-feedback">...</div> if you want to enforce it -->
            </div>

            <div class="row">
                <div class="form-floating mb-3 col-md-4">
                    <input 
                        type="number" 
                        name="listing[price]" 
                        id="price" 
                        placeholder="Price" 
                        class="form-control shadow-sm border-2 transition-input" 
                        value="<%= data.price %>" 
                        required>
                    <label for="price" class="ms-2">Price</label>
                    <div class="invalid-feedback">Please enter a valid price.</div>
                </div>

                <div class="form-floating mb-3 col-md-8">
                    <input 
                        type="text" 
                        name="listing[location]" 
                        id="location" 
                        placeholder="Location" 
                        class="form-control shadow-sm border-2 transition-input" 
                        value="<%= data.location %>" 
                        required>
                    <label for="location" class="ms-2">Location</label>
                    <div class="invalid-feedback">Location is required.</div>
                </div>
            </div>

            <div class="form-floating mb-3">
                <input 
                    type="text" 
                    name="listing[country]" 
                    id="country" 
                    placeholder="Country" 
                    class="form-control shadow-sm border-2 transition-input" 
                    value="<%= data.country %>" 
                    required>
                <label for="country">Country</label>
                <div class="invalid-feedback">Country name is required.</div>
            </div>

            <button class="btn btn-dark add-btn mt-3 w-100 py-2 shadow transition-button">
                Update Listing
            </button>

            <br><br>

        </form>
    </div>
</div>