<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h3>listing Details: </h3>
    <ul>
        <li><%= data.title %></li>
        <li><%= data.description %></li>
        <li>&#8377; <%= data.price.toLocaleString("en-IN") %></li>
        <li><%= data.location %></li>
        <li><%= data.country %></li>
    </ul>
    <br>
    <a href="/listings/<%= data._id %>/edit">Edit this listing</a>
    <form action="/listings/<%= data._id %>?_method=DELETE" method="post">
        <button>Delete this listing</button>
    </form>
</body>
